.contact-info {
    place-self: center;
    margin-top: 20px;
    width: 600px;
    place-content: center;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr;
    margin-right: 0;
    border: 0;
    .p-tags {
      color: #F4F5DB;
      font-family: 'Open Sans', sans-serif;
      margin: 0;
      place-self: center;
    }
  }