.link-holder {
  place-self: center;
  margin-top: 1.5rem;
  width: 40em;
  place-content: center;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr;
  margin-right: 0;
  border: 0;
  .span {
    place-self: center;
  }
  #github, #linkedin, #medium, #youtube, #coffee {
    @include buttonProps;
  }
  #github:hover, #linkedin:hover, #medium:hover, #youtube:hover, #coffee:hover {
    @include boxShadow;
  }
}